:host {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 70px;
}

#external-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1000px;
  align-content: center;
  text-align: center;
  margin: auto;
}

#ebooks-list {
  position: relative;
  max-width: 70%;
  padding: 100px 0px;
  margin: auto;
}

#ebooks-list > ul {
  list-style-type: none;
}

#ebooks-list > ul > li {
  font-family: sans-serif;
  margin: 10px 0px;
}
