:host {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 90%;
  max-width: 1000px;
  height: 90%;
  max-height: 600px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  overflow-y: scroll;
  z-index: 2;
}

.closing-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}

.closing-button:hover {
  cursor: pointer;
}

.closing-button-line {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 4px;
  background-color: #e44014;
}

.backwards-line {
  transform: translateY(-50%) rotate(45deg);
}

.forwards-line {
  transform: translateY(-50%) rotate(-45deg);
}
