<button mat-stroked-button color="warn"
        [disabled]="words.selectedOptions.selected.length === 0"
        id="delete-button"
        (click)="deleteWords(words.selectedOptions.selected)">Delete</button>
<div class="closing-button" (click)="changeModalVisibility('')">
  <span class="closing-button-line backwards-line"></span>
  <span class="closing-button-line forwards-line"></span>
</div>
<p *ngIf="wordsList.length === 0" id="message">The words you add will be displayed here</p>
<mat-selection-list id="modal-words-list" #words>
  <mat-list-option class="word" *ngFor="let word of wordsList" value="{{ word }}">
    {{ word }}
  </mat-list-option>
</mat-selection-list>
