<div class="arrows-container">
  <div id="left-arrow" class="arrow" *ngIf="index > wordsDisplayed.length" (click)="previous()"></div>
  <div id="arrows-cover"></div>
  <div id="right-arrow" class="arrow" *ngIf="index < wordsListLength" (click)="next()"></div>
</div>
<div class="closing-button" (click)="changeModalVisibility('')">
  <span class="closing-button-line backwards-line"></span>
  <span class="closing-button-line forwards-line"></span>
</div>
<ul id="modal-words-list">
  <span *ngIf="wordsDisplayed.length === 0" class="word">No results</span>
  <li *ngFor="let word of wordsDisplayed" class="word" (click)="deleteWord(word)">{{ word }}</li>
</ul>
