:host {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 90%;
  max-width: 1000px;
  height: 90%;
  max-height: 600px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  overflow-y: scroll;
  z-index: 2;
}

#delete-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

#modal-words-list {
  width: 40%;
  max-width: 500px;
  padding: 100px 0px;
  margin: auto;
}

.word {
  text-align: left;
}
