:host {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 90%;
  max-width: 1000px;
  height: 90%;
  max-height: 600px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  z-index: 2;
}

#modal-ebooks-list {
  position: relative;
  max-width: 70%;
  padding: 0px;
  margin: auto;
}

#radio-group {
  display: inline-flex;
  flex-direction: column;
  margin: auto;
}

.ebook-radio-button {
  width: 100%;
  margin: 10px auto;
  padding: 5px;
  text-align: left;
}

#buttons-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  display: flex;
}

#reset-button, #confirm-button {
  width: 140px;
  height: 40px;
  margin: 0px auto;
}
