#dialog-content {
  min-height: 75%;
  max-height: auto;
  overflow: visible;
}

#dialog-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dialog-form-element {
  width: 80%;
  margin: 0 auto 15px auto;
}

#dialog-actions {
  width: 80%;
  justify-content: flex-end;
  margin: auto;
}

.dialog-button {
  margin-left: auto;
}
