:host {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 70px;
}

#external-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1000px;
  align-content: center;
  text-align: center;
  margin: auto;
}

#delete-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

#words-list {
  width: 50%;
  max-width: 500px;
  padding: 100px 0px;
  margin: auto;
}

#no-words-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  font-size: 20px;
  color: #414141;
}

.word {
  text-align: left;
}
