@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0px;
  padding: 0px;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

.modal-open {
  overflow: hidden;
}
