<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../static/styles.edf25f4c60cc482edfd2.css"></head>
<body>
  <app-root></app-root>
<script src="../static/runtime-es2015.0811dcefd377500b5b1a.js" type="module"></script><script src="../static/runtime-es5.0811dcefd377500b5b1a.js" nomodule defer></script><script src="../static/polyfills-es5.fb4cff7f451982eaa677.js" nomodule defer></script><script src="../static/polyfills-es2015.ca64e4516afbb1b890d5.js" type="module"></script><script src="../static/main-es2015.9fd76dd7804318d21112.js" type="module"></script><script src="../static/main-es5.9fd76dd7804318d21112.js" nomodule defer></script></body>
</html>
